In [1]:
import logging
import numpy as np
import pandas as pd
root = logging.getLogger()
root.addHandler(logging.StreamHandler())
%matplotlib inline

In [2]:
# download http://bit.ly/1R8pt20 (zipped Turtles shapefiles), and unzip them
# or download from Google Drive: https://drive.google.com/open?id=0B9cazFzBtPuCSFp3YWE1V2JGdnc
from iSDM.species import IUCNSpecies
fish = IUCNSpecies(name_species='All')
fish.load_shapefile('../data/fish/FW_FISH.shp') # warning, 2GB of data will be loaded, may take a while!!

Enabled Shapely speedups for performance.
Loading data from: ../data/fish/FW_FISH.shp
The shapefile contains data on 12927 species areas.

## Simple data exploration

In [3]:
fish.get_data().columns

Index(['binomial', 'category', 'citation', 'class_name', 'compiler',
       'dist_comm', 'family_nam', 'genus_name', 'geometry', 'id_no', 'island',
       'kingdom_na', 'legend', 'order_name', 'origin', 'phylum_nam',
       'presence', 'seasonal', 'shape_area', 'shape_leng', 'source',
       'species_na', 'subpop', 'subspecies', 'tax_comm', 'year'],
      dtype='object')

How many unique binomials are there?

In [4]:
fish_data = fish.get_data()
fish_data['binomial'].unique().size

6328

Get their names in an array:

In [5]:
unique_binomials = fish_data['binomial'].unique()
unique_binomials

array(['Bagarius suchus', 'Rasbora spilocerca', 'Notoglanidium pallidum',
       ..., 'Schistura procera', 'Monotrete cambodgiensis',
       'Acantopsis spectabilis'], dtype=object)

In [6]:
fish_data.head(10) # peak at the first 10 records

,binomial,category,citation,class_name,compiler,dist_comm,family_nam,genus_name,geometry,id_no,...,presence,seasonal,shape_area,shape_leng,source,species_na,subpop,subspecies,tax_comm,year
0,Bagarius suchus,NT,"Indo-Burma freshwater assessment, IUCN",ACTINOPTERYGII,IUCN FBU,None,SISORIDAE,Bagarius,"POLYGON ((101.8125000000001 22.48333333300008,...",181271.0,...,2.0,5.0,49.374794,60.288418,Red List assessment,suchus,None,None,None,2012.0
1,Rasbora spilocerca,LC,"Indo-Burma freshwater assessment, IUCN",ACTINOPTERYGII,"J. Scott, IUCN",None,CYPRINIDAE,Rasbora,"POLYGON ((103.5121466740001 18.53992445200004,...",181127.0,...,2.0,5.0,8.361239,58.345301,Red List assessment,spilocerca,None,None,None,2012.0
2,Notoglanidium pallidum,VU,IUCN (International Union for Conservation of ...,ACTINOPTERYGII,None,None,CLAROTEIDAE,Notoglanidium,POLYGON ((12.81128506100004 -4.286932711999953...,182359.0,...,1.0,1.0,1.524058,10.000992,None,pallidum,None,None,None,0.0
3,Parananochromis brevirostris,VU,IUCN (International Union for Conservation of ...,ACTINOPTERYGII,None,None,CICHLIDAE,Parananochromis,(POLYGON ((12.10738288000005 1.628413222000063...,182240.0,...,2.0,1.0,5.563441,30.269691,None,brevirostris,None,None,None,0.0
4,Parananochromis brevirostris,VU,IUCN (International Union for Conservation of ...,ACTINOPTERYGII,None,None,CICHLIDAE,Parananochromis,(POLYGON ((12.78953162300007 2.117309570000032...,182240.0,...,1.0,1.0,4.872947,39.634665,None,brevirostris,None,None,None,0.0
5,Parananochromis brevirostris,VU,None,ACTINOPTERYGII,None,None,CICHLIDAE,Parananochromis,(POLYGON ((13.13924221400003 -0.98298000799997...,182240.0,...,1.0,1.0,0.366030,6.770438,None,brevirostris,None,None,None,0.0
6,Ambassis vachellii,LC,H.Larson and IUCN (International Union for Con...,ACTINOPTERYGII,M.Raiwalui/IUCN,None,AMBASSIDAE,Ambassis,"(POLYGON ((105.2625 -6.754166666999936, 105.25...",166893.0,...,1.0,1.0,121.742461,1817.507950,H.Larson,vachellii,None,None,None,2011.0
7,Parasikukia maculata,LC,"Indo-Burma freshwater assessment, IUCN",ACTINOPTERYGII,"D. Allen, IUCN",None,CYPRINIDAE,Parasikukia,"(POLYGON ((100.374432712 18.59657999700005, 10...",181017.0,...,2.0,1.0,12.017594,58.052434,Red List assessment,maculata,None,None,None,2012.0
8,Parasikukia maculata,LC,"Indo-Burma freshwater assessment, IUCN",ACTINOPTERYGII,"D. Allen, IUCN",None,CYPRINIDAE,Parasikukia,(POLYGON ((100.8458333330001 12.69166666700005...,181017.0,...,2.0,1.0,4.081329,37.348873,C. Vidthayanon pers. comm. 2011,maculata,None,None,None,2012.0
9,Parasikukia maculata,LC,"Indo-Burma freshwater assessment, IUCN",ACTINOPTERYGII,IUCN FBU,None,CYPRINIDAE,Parasikukia,(POLYGON ((99.65793745300005 16.53653225300008...,181017.0,...,2.0,5.0,0.374677,6.355700,Red List assessment,maculata,None,None,None,2012.0

Sort them by their "shape_area" column, to get the biggest and smallest areas

In [7]:
fish_data.sort(columns='shape_area', inplace=True)

/home/daniela/anaconda/envs/biodiversity_py3/lib/python3.4/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

Peak at the first 5 records with the smallest area

In [8]:
fish_data.head(5)

,binomial,category,citation,class_name,compiler,dist_comm,family_nam,genus_name,geometry,id_no,...,presence,seasonal,shape_area,shape_leng,source,species_na,subpop,subspecies,tax_comm,year
1396,Astatotilapia burtoni,LC,IUCN (International Union for Conservation of ...,ACTINOPTERYGII,None,None,CICHLIDAE,Astatotilapia,POLYGON ((29.81538226200007 -5.175785492999978...,60462.0,...,1.0,0.0,0.000122,0.060842,None,burtoni,None,None,None,0.0
6610,Channa striata,LC,"Chaudhry S., 2009",ACTINOPTERYGII,Shivaji Chaudhry,None,CHANNIDAE,Channa,"POLYGON ((121.2046038030001 14.44001242700006,...",166563.0,...,1.0,4.0,0.000242,0.073176,CAS 204572,striata,None,None,None,2007.0
6889,Rasbora rasbora,LC,IUCN,ACTINOPTERYGII,W. Vishwanath,None,CYPRINIDAE,Rasbora,"POLYGON ((97.65833333300009 16.53333333300003,...",166440.0,...,1.0,1.0,0.000286,0.075311,"Fishbase, 2026",rasbora,None,None,None,2007.0
11988,Puntius chola,LC,"Dahanukar, N.",ACTINOPTERYGII,"Dahanukar, N.",None,CYPRINIDAE,Puntius,"POLYGON ((97.65833333300009 16.53333333300003,...",166443.0,...,1.0,1.0,0.000286,0.075311,"accessed through GBIF data portal, NRM-Fishes,...",chola,None,None,None,2007.0
5382,Pisodonophis boro,LC,"Chaudhry S., 2009",ACTINOPTERYGII,Shivaji Chaudhry,None,OPHICHTHIDAE,Pisodonophis,"POLYGON ((85.46407583500007 19.66257255000005,...",166552.0,...,1.0,4.0,0.000393,0.101212,FISH 387621,boro,None,None,None,2007.0

The last 5 records (biggest area)

In [9]:
fish_data.tail(5)

,binomial,category,citation,class_name,compiler,dist_comm,family_nam,genus_name,geometry,id_no,...,presence,seasonal,shape_area,shape_leng,source,species_na,subpop,subspecies,tax_comm,year
10436,Rutilus rutilus,LC,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Rutilus,(POLYGON ((-4.770833332999928 48.5250000000000...,19787.0,...,1.0,1.0,2987.465593,1978.210580,None,rutilus,None,None,None,0.0
271,Cottus confusus,LC,"Freshwater Biodiversity Unit, IUCN",ACTINOPTERYGII,"Phillipa Palmeirin, FBU, IUCN",None,COTTIDAE,Cottus,"(POLYGON ((-167.666666666 65.79166666700007, -...",202659.0,...,2.0,1.0,3031.001694,5133.731779,"Page, L.M. and Burr, B.M. 2011. Peterson Field...",confusus,None,None,None,2012.0
4886,Perca fluviatilis,LC,None,ACTINOPTERYGII,None,None,PERCIDAE,Perca,(POLYGON ((-4.770833332999928 48.5250000000000...,16580.0,...,1.0,1.0,3365.103170,2218.467787,None,fluviatilis,None,None,None,0.0
5973,Lota lota,LC,None,ACTINOPTERYGII,None,None,LOTIDAE,Lota,(POLYGON ((4.038374837000049 51.96308458100003...,135675.0,...,1.0,1.0,4264.651654,4250.283811,None,lota,None,None,None,0.0
10370,Esox lucius,LC,None,ACTINOPTERYGII,None,None,ESOCIDAE,Esox,(POLYGON ((-4.770833332999928 48.5250000000000...,135631.0,...,1.0,1.0,5225.451235,4405.111110,None,lucius,None,None,None,0.0

Decision: **"We will include all species except those that are completely extinct. For the (possibly) extant species, we will include their entire range (including polygons from which they are currently extinct) in order to cover their full potential distribution."**

From IUCN, these are the codes for presence:
1. Extant
2. Probably extant
3. Possibly extant
4. Possibly extinct
5. Extinct
6. Presence uncertain

Are there species for which the presence category isn't any of the above? (the "~" is negation, so this below says "select all fish data, for which the "presence" column is NOT in [1,2,3,4,5,6])

In [10]:
fish_data[~fish_data.presence.isin([1,2,3,4,5,6])]

,binomial,category,citation,class_name,compiler,dist_comm,family_nam,genus_name,geometry,id_no,...,presence,seasonal,shape_area,shape_leng,source,species_na,subpop,subspecies,tax_comm,year
3269,Acipenser fulvescens,LC,"Freshwater Biodiversity Unit, IUCN",ACTINOPTERYGII,IUCN,None,ACIPENSERIDAE,Acipenser,(POLYGON ((-77.20221048999997 44.0297339540000...,223.0,...,0.0,0.0,0.061229,5.069857,"Page and Burr, 1991",fulvescens,None,None,None,2013.0
2312,Sicyopterus sarasini,EN,None,ACTINOPTERYGII,None,None,GOBIIDAE,Sicyopterus,(POLYGON ((165.0041666660001 -21.3374999999999...,196370.0,...,0.0,0.0,0.299701,4.962775,None,sarasini,None,None,None,0.0
4669,Chanodichthys erythropterus,LC,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Chanodichthys,"(POLYGON ((117.40221049 48.42859937900005, 117...",166143.0,...,0.0,0.0,0.822562,12.134009,None,erythropterus,None,None,None,0.0
11591,Hemiculter leucisculus,LC,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Hemiculter,"POLYGON ((117.83971049 48.88693271300008, 117....",166193.0,...,0.0,0.0,2.336222,13.899461,None,leucisculus,None,None,None,0.0
3292,Microphysogobio tungtingensis,NT,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Microphysogobio,"POLYGON ((117.83971049 48.88693271300008, 117....",166028.0,...,0.0,0.0,2.629233,16.648915,None,tungtingensis,None,None,None,0.0
12321,Carassius carassius,LC,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Carassius,"POLYGON ((91.22674221500006 48.04201999200006,...",3849.0,...,0.0,0.0,4.347034,15.390500,None,carassius,None,None,None,0.0
10823,Tinca tinca,LC,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Tinca,"POLYGON ((91.22674221500006 48.04201999200006,...",21912.0,...,0.0,0.0,4.347034,15.390500,None,tinca,None,None,None,0.0
1911,Rhynchocypris czekanowskii,LC,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Rhynchocypris,(POLYGON ((109.5313771560001 50.52026604500003...,135492.0,...,0.0,0.0,4.664014,32.817185,None,czekanowskii,None,None,None,0.0
6126,Chanodichthys mongolicus,LC,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Chanodichthys,"POLYGON ((113.3871466740001 51.08159111800006,...",180698.0,...,0.0,0.0,4.793526,23.142232,None,mongolicus,None,None,None,0.0
1054,Acipenser baerii,EN,None,ACTINOPTERYGII,None,None,ACIPENSERIDAE,Acipenser,"POLYGON ((106.493408882 50.40868665900007, 106...",244.0,...,0.0,0.0,5.865542,22.969322,None,baerii,None,None,None,0.0
1139,Coregonus pidschian,LC,None,ACTINOPTERYGII,None,None,SALMONIDAE,Coregonus,"POLYGON ((98.97140062100004 52.13528951000006,...",5375.0,...,0.0,0.0,6.453679,27.604141,None,pidschian,None,None,None,0.0
3270,Acipenser fulvescens,LC,NatureServe,ACTINOPTERYGII,"Freshwater Biodiversity Unit, IUCN",None,ACIPENSERIDAE,Acipenser,(POLYGON ((-85.38110351499995 46.1002731320000...,223.0,...,0.0,0.0,6.720057,22.015335,Digital Distribution Maps of the Freshwater Fi...,fulvescens,None,None,None,2013.0
2349,Agosia chrysogaster,LC,NatureServe,ACTINOPTERYGII,"Freshwater Biodiversity Unit, IUCN",None,CYPRINIDAE,Agosia,"POLYGON ((-109.908333334 26.96666666600004, -1...",191246.0,...,0.0,0.0,9.277168,28.618570,Digital Distribution Maps of the Freshwater Fi...,chrysogaster,None,None,None,2013.0
10621,Leuciscus idus,LC,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Leuciscus,(POLYGON ((106.4119327120001 50.65637715700007...,11884.0,...,0.0,0.0,14.080754,41.112320,None,idus,None,None,None,0.0
10718,Coregonus autumnalis,LC,None,ACTINOPTERYGII,None,None,SALMONIDAE,Coregonus,"(POLYGON ((-155.875 71.18333333300006, -155.84...",5363.0,...,0.0,0.0,14.810125,93.677611,None,autumnalis,None,None,None,0.0
9931,Cyprinus rubrofuscus,LC,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Cyprinus,(POLYGON ((113.3871466740001 51.08159111800006...,166052.0,...,0.0,0.0,31.514393,66.080886,None,rubrofuscus,None,None,None,0.0
12919,Rhodeus sericeus,LR/lc,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Rhodeus,(POLYGON ((113.3871466740001 51.08159111800006...,19671.0,...,0.0,0.0,31.661029,64.959330,None,sericeus,None,None,None,0.0
10367,Esox lucius,LC,None,ACTINOPTERYGII,None,None,ESOCIDAE,Esox,"POLYGON ((106.4119327120001 50.65637715700007,...",135631.0,...,0.0,0.0,31.804175,51.945832,None,lucius,None,None,None,0.0
9015,Misgurnus anguillicaudatus,LC,None,ACTINOPTERYGII,None,None,COBITIDAE,Misgurnus,(POLYGON ((113.3871466740001 51.08159111800006...,166158.0,...,0.0,0.0,32.143246,63.117779,None,anguillicaudatus,None,None,None,0.0
8574,Silurus asotus,LC,None,ACTINOPTERYGII,None,None,SILURIDAE,Silurus,"(POLYGON ((106.889672852 51.36189490500004, 10...",166951.0,...,0.0,0.0,38.260584,73.292529,None,asotus,None,None,None,0.0
4163,Pseudorasbora parva,LC,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Pseudorasbora,"(POLYGON ((106.889672852 51.36189490500004, 10...",166136.0,...,0.0,0.0,42.024757,82.255443,None,parva,None,None,None,0.0
4887,Perca fluviatilis,LC,None,ACTINOPTERYGII,None,None,PERCIDAE,Perca,"POLYGON ((100.861882527 52.06882680300004, 100...",16580.0,...,0.0,0.0,42.045171,58.419062,None,fluviatilis,None,None,None,0.0
1086,Cobitis melanoleuca,LC,None,ACTINOPTERYGII,None,None,COBITIDAE,Cobitis,"(POLYGON ((106.889672852 51.36189490500004, 10...",135534.0,...,0.0,0.0,42.179838,84.243200,None,melanoleuca,None,None,None,0.0
9419,Rhynchocypris percnurus,LC,None,ACTINOPTERYGII,None,None,CYPRINIDAE,Rhynchocypris,(POLYGON ((113.3871466740001 51.08159111800006...,17066.0,...,0.0,0.0,45.696883,93.887605,None,percnurus,None,None,None,0.0
10525,Thymallus arcticus,LC,None,ACTINOPTERYGII,None,None,SALMONIDAE,Thymallus,"POLYGON ((99.07571953700005 52.71329345700008,...",135593.0,...,0.0,0.0,48.078823,64.797784,None,arcticus,None,None,None,0.0
5967,Lota lota,LC,None,ACTINOPTERYGII,None,None,LOTIDAE,Lota,(POLYGON ((99.07571953700005 52.71329345700008...,135675.0,...,0.0,0.0,82.135939,119.112900,None,lota,None,None,None,0.0
3271,Acipenser fulvescens,LC,None,ACTINOPTERYGII,None,None,ACIPENSERIDAE,Acipenser,"(POLYGON ((-112.928940924 50.22398334700006, -...",223.0,...,0.0,0.0,287.725875,387.812730,None,fulvescens,None,None,None,0.0
3490,Ambassis urotaenia,LC,None,ACTINOPTERYGII,None,None,AMBASSIDAE,Ambassis,"(POLYGON ((130.961285061 -1.404733954999926, 1...",155201.0,...,0.0,0.0,295.859696,2415.811485,None,urotaenia,None,None,None,0.0

Apparently there are 28 species for which the "presence" is set to 0 in some regions. Their binomials are:

In [11]:
fish_data[~fish_data.presence.isin([1,2,3,4,5,6])]['binomial']

3269              Acipenser fulvescens
2312              Sicyopterus sarasini
4669       Chanodichthys erythropterus
11591           Hemiculter leucisculus
3292     Microphysogobio tungtingensis
12321              Carassius carassius
10823                      Tinca tinca
1911        Rhynchocypris czekanowskii
6126          Chanodichthys mongolicus
1054                  Acipenser baerii
1139               Coregonus pidschian
3270              Acipenser fulvescens
2349               Agosia chrysogaster
10621                   Leuciscus idus
10718             Coregonus autumnalis
9931              Cyprinus rubrofuscus
12919                 Rhodeus sericeus
10367                      Esox lucius
9015        Misgurnus anguillicaudatus
8574                    Silurus asotus
4163               Pseudorasbora parva
4887                 Perca fluviatilis
1086               Cobitis melanoleuca
9419           Rhynchocypris percnurus
10525               Thymallus arcticus
5967                         Lota lota
3271              Acipenser fulvescens
3490                Ambassis urotaenia
Name: binomial, dtype: object

Actually it's 26, since "Acipenser fulvescens" has 3 separate records (polygons)

"For the (possibly) extant species, we will include their entire range (including polygons from which they are 
currently extinct)"

As an example, here is a species with both extant and extinct areas

In [12]:
fish_data[fish_data.binomial=='Acantharchus pomotis']

,binomial,category,citation,class_name,compiler,dist_comm,family_nam,genus_name,geometry,id_no,...,presence,seasonal,shape_area,shape_leng,source,species_na,subpop,subspecies,tax_comm,year
2154,Acantharchus pomotis,LC,NatureServe,ACTINOPTERYGII,"Freshwater Biodiversity Unit, IUCN",None,CENTRARCHIDAE,Acantharchus,POLYGON ((-83.63333333299994 31.23750000000007...,201938.0,...,5.0,0.0,0.024246,0.796963,Digital Distribution Maps of the Freshwater Fi...,pomotis,None,None,None,2013.0
2156,Acantharchus pomotis,LC,None,ACTINOPTERYGII,None,None,CENTRARCHIDAE,Acantharchus,(POLYGON ((-83.94131181499995 32.4517130540000...,201938.0,...,1.0,0.0,2.006039,18.544973,None,pomotis,None,None,None,0.0
2155,Acantharchus pomotis,LC,NatureServe,ACTINOPTERYGII,"Freshwater Biodiversity Unit, IUCN",None,CENTRARCHIDAE,Acantharchus,(POLYGON ((-84.33333333299998 30.0500000000000...,201938.0,...,1.0,0.0,25.110455,170.717198,Digital Distribution Maps of the Freshwater Fi...,pomotis,None,None,None,2013.0

Plenty of columns, let's just select the 'binomial', 'presence', 'geometry', and 'shape_area' to have a clearer overview

In [13]:
fish_data[fish_data.binomial=='Acantharchus pomotis'][['binomial','presence', 'geometry','shape_area']]

,binomial,presence,geometry,shape_area
2154,Acantharchus pomotis,5.0,POLYGON ((-83.63333333299994 31.23750000000007...,0.024246
2156,Acantharchus pomotis,1.0,(POLYGON ((-83.94131181499995 32.4517130540000...,2.006039
2155,Acantharchus pomotis,1.0,(POLYGON ((-84.33333333299998 30.0500000000000...,25.110455

As agreed, we want to keep the first (extinct==5) polygon when there are other regions (the next two records) where the species is not extinct. There is a function that can do the filtering out in a simple way.

In [14]:
fish.drop_extinct_species()

There are currently 6328 unique species.

Filtering out the following extinct species: ['Alburnus akili', 'Alburnus nicaeensis', 'Aphanius splendens', "Aplocheilichthys sp. nov. 'Naivasha'", 'Barbus microbarbis', 'Catostomus bernardini', 'Chasmistes muriei', 'Coregonus bezola', 'Coregonus fera', 'Coregonus gutturosus', 'Coregonus hiemalis', 'Coregonus johannae', 'Coregonus oxyrinchus', 'Coregonus restrictus', 'Cottus bendirei', 'Cottus echinatus', 'Cyprinodon arcuatus', 'Cyprinus micristius', 'Empetrichthys latos', 'Empetrichthys merriami', "Eudontomyzon sp. nov. 'migratory'", 'Fundulus albolineatus', 'Gambusia amistadensis', 'Gambusia georgei', 'Gambusia senilis', 'Gasterosteus crenobiontus', 'Gila crassicauda', 'Ictalurus pricei', 'Lepidomeda altivelis', 'Mirogrex hulensis', 'Moxostoma lacerum', 'Noturus trautmani', 'Pantanodon madagascariensis', 'Platytropius siamensis', 'Pogonichthys ciscoides', 'Prototroctes oxyrhynchus', 'Ptychochromis onilahy', 'Ptychochromoides itasy', 'Rhinichthys deaconi', 'Romanogobio antipai', 'Salmo pallaryi', 'Salmo schiefermuelleri', 'Salvelinus agassizii', 'Salvelinus neocomensis', 'Salvelinus profundus', 'Sphaerophysa dianchiensis', 'Tristramella intermedia', 'Xenocypris yunnanensis']

There are now 6280 unique species after dropping out extinct ones.

In [15]:
fish.save_data("../data/fish/selection/non_extinct.pkl", method="pickle")

Saved data: ../data/fish/selection/non_extinct.pkl
Type of data: <class 'geopandas.geodataframe.GeoDataFrame'>

In [16]:
non_extinct_fish = fish.get_data()

### Cross-check with GBIF records

#### How many freshwater fish observation records do we have (without any filtering)

In [17]:
total_records = 0
# download the file "merged.msg" from here: (My Google Drive)
# https://drive.google.com/open?id=0B9cazFzBtPuCTHcyTmVXV0pNT0k
# and place it the subfolder "selection"
# The "merged.msg" file contains all datagrames for all individual species.
for df in pd.read_msgpack("../data/fish/selection/merged.msg", iterator=True):
    total_records += df.shape[0]

In [18]:
total_records

4733792

#### 1. Problematic/unavailable locality
Which species have **no latitude/longitude information, and how many "observations" are there for them?** What is the basis of record for such species? (Suspicion is that these are old museum/journals records)

In [19]:
important_columns = ['species', 'dateidentified','basisofrecord', 'verbatimlocality', 'day', 'month', 'year' ]
result_no_lat_long = pd.DataFrame(columns=important_columns)

for df in pd.read_msgpack("../data/fish/selection/merged.msg", iterator=True):
    if "decimallatitude" not in df.columns.tolist() or "decimallongitude" not in df.columns.tolist():
        common_columns = list(set(important_columns).intersection(set(df.columns.tolist())))
        result_no_lat_long = result_no_lat_long.append(df[common_columns], ignore_index=True)

#### How many unique species are there, without lat/lon?

In [20]:
result_no_lat_long['species'].unique().size

600

Warning: this does not mean that the species ONLY has such records. It could be that particular species also has records WITH latitude/longitude information.

##### So then what percentage of the total number of records?

In [21]:
(result_no_lat_long.shape[0]/total_records) * 100 # not that bad, only about 0.2%

0.16261804489931117

#### What about verbatim locality? Is that helpful? These records have a verbatim locality

In [22]:
result_no_lat_long[['species', 'verbatimlocality']][result_no_lat_long.verbatimlocality.notnull()]

,species,verbatimlocality
27,Salmo stomachicus,; ; ; ; ; ; ;
42,Clypeobarbus bellcrossi,Africa | Zambia | Western Province
114,Squalidus atromaculatus,Hainan
869,Salvelinus perisii,; ; ; ; ; ; ;
1285,Barbus fritschii,Berkana
1290,Barbus fritschii,Oued Tensift
1292,Barbus fritschii,Oued Za
1293,Barbus fritschii,Ras-el-Ain
1341,Hara horai,unspecified
1367,Barbus callensis,Oued Tensift
1368,Barbus callensis,Oued Tensift
1599,Coregonus vandesius,; [Scotland; U.K.]; ; ; ; ; ; Lochmaben; Dumfr...
1708,Barbodes wynaadensis,Vithry [India or Pakistan]
2066,Barbus callensis,Oued Tensift
2113,Nannocharax wittei,Between Kermani and Kasai [Belge Congo]
3247,Barbus nasus,Fes
3248,Barbus nasus,Fes
3362,Luciobarbus brachycephalus,Eurasia | Union Of Soviet Socialist Republics ...
3369,Luciobarbus brachycephalus,Leukoran; Rec'd 24 Dec. 1885.
3446,Triplophysa grahami,; W. China; ; ; ; ; ; Yunnanfu
3465,Barbus petenyi,"Milcov R. at Focsani, S Moldavia; Vrancea"
3466,Barbus petenyi,"Cerna R. at Baile-Herculane, Banat; Caras-Sev..."
3467,Barbus petenyi,"Hirtibaciu R., indirect trib. to Olt R. at Moh..."
3666,Barbus petenyi,Croatia
4095,Sabanejewia bulgarica,Confluence of Arges R. with Danube R. at Olten...
4205,Coregonus nilssoni,"Lake Ring, Scania"
4209,Coregonus nilssoni,"Lake Ring, Scania"
4375,Haplochromis xenostoma,Lake Victoria [exact locality unknown]
4603,Haplochromis bartoni,Aquarium stock; originating from Lake Victoria.
4820,Sabanejewia vallachica,"Milcov R. at Focsani, S Moldavia; Vrancea"
4823,Sabanejewia vallachica,"Ialomita R. at Crivina, N of Bucharest; Ilfov"
6480,Devario kakhienensis,Phagna Dam.
6514,Devario browni,"~25 km N Mae Hong Son town, on road to Chiang ..."
6515,Devario browni,"Mae Sariang district, 20 km SE of Mae Sariang..."
6516,Devario browni,"~8 km SW Mae Hong Son town, Huey Sertao, (old ..."
6517,Devario browni,"village of Mae Sam Laep, just above Huey Khong..."
6518,Devario browni,"~25 km N Mae Hong Son town, on road to Chiang ..."
6519,Devario browni,~35 km S Mae Hong Son town in small stream; M...
6520,Devario browni,"Pong Kan Stream, ~25 km S Mae Hong Son, Pong K..."
6525,Devario browni,no data
6530,Devario browni,no data
6579,Chondrostoma cyri,R. Kurza; Rec'd. 4 Nov. 1891.
6862,Barbus callensis,Oued Za
6872,Barbus callensis,Qued Ksol
6877,Barbus callensis,Berkare
6885,Barbus callensis,[no verbatim locality data]
6889,Barbus callensis,Oued Tensift
7115,Barbus callensis,West Algeria
7116,Barbus callensis,[no verbatim locality data]
7117,Barbus callensis,West Algerian Sahara
7415,Synodontis omias,[no verbatim locality data]
7449,Pollimyrus guttatus,"30 km East of Kribi, Cameroons"

How many records with verbatim locality?

In [23]:
result_no_lat_long[['species', 'verbatimlocality']][result_no_lat_long.verbatimlocality.notnull()].shape[0]

52

#### If we group them by the basisofrecord, how many?

In [24]:
grouped_no_lat_lon = pd.DataFrame()
grouped_no_lat_lon['count'] = result_no_lat_long.groupby(['species', 'basisofrecord']).apply(lambda x: x['basisofrecord'].count())
grouped_no_lat_lon.head(30)

                                               count
species                    basisofrecord
Abactochromis labrosus     PRESERVED_SPECIMEN      6
Acanthobrama microlepis    PRESERVED_SPECIMEN     12
Acanthocobitis pavonacea   PRESERVED_SPECIMEN      1
Acentrogobius therezieni   PRESERVED_SPECIMEN      9
Acheilognathus deignani    PRESERVED_SPECIMEN      2
Acheilognathus meridianus  PRESERVED_SPECIMEN      1
Acrochordonichthys gyrinus PRESERVED_SPECIMEN      2
Acrossocheilus microstoma  PRESERVED_SPECIMEN      1
Ailiichthys punctata       PRESERVED_SPECIMEN      4
Akysis manipurensis        PRESERVED_SPECIMEN      4
Akysis pictus              PRESERVED_SPECIMEN      4
Akysis portellus           PRESERVED_SPECIMEN      1
Alburnoides eichwaldii     PRESERVED_SPECIMEN     18
Alburnoides fasciatus      PRESERVED_SPECIMEN     14
Alburnoides gmelini        PRESERVED_SPECIMEN      4
Alburnoides kubanicus      PRESERVED_SPECIMEN      5
Alburnoides maculatus      PRESERVED_SPECIMEN      8
Alburnoides rossicus       PRESERVED_SPECIMEN     23
Alburnus escherichii       PRESERVED_SPECIMEN      4
Alburnus filippii          PRESERVED_SPECIMEN     38
Alburnus tarichi           PRESERVED_SPECIMEN      4
Alosa killarnensis         PRESERVED_SPECIMEN      1
Ambastaia nigrolineata     OBSERVATION             1
                           PRESERVED_SPECIMEN      1
Ambastaia sidthimunki      PRESERVED_SPECIMEN      1
Amblyceps carinatum        PRESERVED_SPECIMEN      1
Amblyceps protentum        PRESERVED_SPECIMEN      1
Anabarilius alburnops      PRESERVED_SPECIMEN      6
Aphyosemion abacinum       PRESERVED_SPECIMEN      9
Aphyosemion alpha          PRESERVED_SPECIMEN      5

#### Which ones have at least 50 records (more likely we need at least 100 records in total per species, but let's keep the bar low still)

In [25]:
grouped_no_lat_lon[grouped_no_lat_lon['count']>50]

                                              count
species                   basisofrecord
Aphyosemion mimbon        PRESERVED_SPECIMEN     61
Barbus callensis          PRESERVED_SPECIMEN    122
Barbus ciscaucasicus      PRESERVED_SPECIMEN    673
Barbus fritschii          PRESERVED_SPECIMEN     95
Barbus petenyi            PRESERVED_SPECIMEN    553
Chondrostoma oxyrhynchum  PRESERVED_SPECIMEN     72
Cobitis stephanidisi      PRESERVED_SPECIMEN     62
Coregonus nilssoni        PRESERVED_SPECIMEN     59
Distichodus nefasch       PRESERVED_SPECIMEN     54
Haplochromis bareli       PRESERVED_SPECIMEN    117
Haplochromis crocopeplus  PRESERVED_SPECIMEN     65
Haplochromis dentex       PRESERVED_SPECIMEN    186
Haplochromis heusinkveldi PRESERVED_SPECIMEN   1062
Haplochromis mento        PRESERVED_SPECIMEN     63
Haplochromis michaeli     PRESERVED_SPECIMEN    173
Haplochromis perrieri     PRESERVED_SPECIMEN    340
Haplochromis pyrrhopteryx PRESERVED_SPECIMEN     54
Haplochromis tanaos       PRESERVED_SPECIMEN    140
Haplochromis xenostoma    PRESERVED_SPECIMEN     53
Oxynoemacheilus brandtii  PRESERVED_SPECIMEN     52

According to http://gbif.github.io/gbif-api/apidocs/org/gbif/api/vocabulary/BasisOfRecord.html
these are different from "real" human observations. But I'm not sure what PRESERVED_SPECIMEN is exactly?

#### What about the year in which these observations have been recorded? For those after 1960... (note that not all records have a year or any date information)

In [26]:
result_no_lat_long_years = result_no_lat_long[['species','year']][result_no_lat_long.year > 1960].groupby('species')['year'].apply(lambda x:x.tolist())
pd.DataFrame(result_no_lat_long_years).head(30)

                                                                            year
species
Acanthobrama microlepis                 [2006.0, 2006.0, 1966.0, 1966.0, 1966.0]
Acentrogobius therezieni                                [1963.0, 1963.0, 1963.0]
Acrochordonichthys gyrinus                                      [1995.0, 1995.0]
Alburnoides eichwaldii                  [2006.0, 2006.0, 2006.0, 2006.0, 2006.0]
Alburnoides fasciatus          [2010.0, 2010.0, 2007.0, 2007.0, 2007.0, 2006....
Alburnoides gmelini                             [2004.0, 2004.0, 2004.0, 2004.0]
Alburnoides rossicus                            [2012.0, 2012.0, 2012.0, 2012.0]
Alburnus escherichii                            [2006.0, 2006.0, 1990.0, 1990.0]
Alburnus filippii                                       [2012.0, 2010.0, 2006.0]
Ambastaia nigrolineata                                                  [2011.0]
Ambastaia sidthimunki                                                   [2007.0]
Amblyceps protentum                                                     [2012.0]
Aphyosemion abacinum                                            [1976.0, 1976.0]
Aphyosemion alpha                               [1994.0, 1993.0, 1993.0, 1993.0]
Aphyosemion chauchei                                            [1978.0, 1978.0]
Aphyosemion congicum                                                    [1971.0]
Aphyosemion exigoideum                                          [1977.0, 1976.0]
Aphyosemion mimbon                                                      [1976.0]
Aphyosemion seegersi                                            [1978.0, 1978.0]
Aplocheilichthys antinorii                                              [1982.0]
Arius madagascariensis          [2002.0, 1988.0, 1988.0, 1964.0, 1962.0, 1962.0]
Astatoreochromis vanderhorsti           [1992.0, 1992.0, 1992.0, 1991.0, 1983.0]
Astatotilapia flaviijosephi                                     [2002.0, 1972.0]
Aulonocara ethelwynnae                                          [1985.0, 1985.0]
Aulonocara hansbaenschi                                         [1985.0, 1985.0]
Aulonocara korneliae                                            [1985.0, 1985.0]
Aulonocara maylandi                                     [1985.0, 1984.0, 1980.0]
Aulonocara steveni                                              [1985.0, 1985.0]
Aulonocara stonemani                            [1973.0, 1971.0, 1971.0, 1971.0]
Barbus aliciae                                                          [1980.0]

In [ ]:
pd.DataFrame(result_no_lat_long_years).shape[0]

228

228 unique species with records after 1960, but no useful locality info about them anyways. I think all records without lat/lon will need to be discarded, for the 600 species.

Further selection criteria...

#### 2. Records with latitude/longitude: how many? how many with year>1960? year>1990? Without any date? accuracy of location?
warning: below takes long to run, processes occurrences for more than 5000 unique species

In [ ]:
import pandas as pd
important_columns1 = ['species', 'dateidentified', 'eventdate', 'basisofrecord', 'decimallatitude','decimallongitude', 'day', 'month', 'year' ]
result_with_lat_long = pd.DataFrame(columns=important_columns1)
counter = 0
for df in pd.read_msgpack("../data/fish/selection/merged.msg", iterator=True):
    counter += 1
    if (counter%100==0):
        print("Processing.. ", counter)
    if "decimallatitude" in df.columns.tolist() and "decimallongitude" in df.columns.tolist():
        common_columns = list(set(important_columns1).intersection(set(df.columns.tolist())))
        result_with_lat_long = result_with_lat_long.append(df[common_columns], ignore_index=True)

Processing..  100
Processing..  200
Processing..  300
Processing..  400
Processing..  500
Processing..  600
Processing..  700
Processing..  800
Processing..  900
Processing..  1000
Processing..  1100
Processing..  1200
Processing..  1300
Processing..  1400
Processing..  1500
Processing..  1600
Processing..  1700
Processing..  1800
Processing..  1900
Processing..  2000

In [ ]:
result_with_lat_long = result_with_lat_long[result_with_lat_long.decimallatitude.notnull() & result_with_lat_long.decimallongitude.notnull()]

In [ ]:
result_with_lat_long.shape[0] # this-many occurrence records

In [ ]:
result_with_lat_long.shape[0]/ total_records * 100 # percentage of records out of *ALL* species records

### How many unique species have occurrence records with latitude/longitude?

In [ ]:
result_with_lat_long['species'].unique().size

### What percentage of the occurrence records HAVE latitude/longitude, but NO event date?

In [ ]:
result_with_lat_long_no_date = result_with_lat_long[(result_with_lat_long.eventdate.isnull()) & (result_with_lat_long.year.isnull())]

In [ ]:
result_with_lat_long_no_date.shape[0]/result_with_lat_long.shape[0] * 100 # 12%

Best to take into account all observations which have either "year" or "eventdate" present. (or both)
Let's group them by species name, and count the number of observation records.

In [ ]:
grouped_lat_long_year_or_eventdate = pd.DataFrame()
grouped_lat_long_year_or_eventdate['count'] = result_with_lat_long[result_with_lat_long.eventdate.notnull() | result_with_lat_long.year.notnull()].groupby(['species']).apply(lambda x: x['species'].count())
grouped_lat_long_year_or_eventdate.head(10) # peak at the top 10 only

Notice that some of them have very few observations. We will filter them out later.
### How many unique species HAVE records with latitude/longitude, AND date of event (at least year)

In [ ]:
grouped_lat_long_year_or_eventdate.shape[0]

#### What percentage of observations is that?

In [ ]:
100 * result_with_lat_long[result_with_lat_long.eventdate.notnull() | result_with_lat_long.year.notnull()].shape[0] / result_with_lat_long.shape[0]

### How many unique species with latitude/longitude, AND event date after 1960?

In [ ]:
year_or_eventdate_1960 = result_with_lat_long[['species', 'year', 'eventdate']][(result_with_lat_long.year>1960) | (result_with_lat_long.eventdate>"1960")]

grouped_year_or_eventdate_1960 = pd.DataFrame()
grouped_year_or_eventdate_1960['numobservations'] = year_or_eventdate_1960.groupby(['species']).apply(lambda x: x['species'].count())
grouped_year_or_eventdate_1960.shape[0]

#### What percentage of observations is that?  (out of all records with latitude/longitude)?

In [ ]:
year_or_eventdate_1960.shape[0]/result_with_lat_long.shape[0] * 100

### From these above, how many species have 50+ observations?

In [ ]:
grouped_year_or_eventdate_1960[grouped_year_or_eventdate_1960.numobservations>=50]

Not that many. 1283 species.

#### What percentage is that (out of all records with latitude/longitude)?

In [ ]:
(grouped_year_or_eventdate_1960[grouped_year_or_eventdate_1960.numobservations>50].numobservations.sum() / result_with_lat_long.shape[0]) * 100

So 80% of all records with latitude and longitude, **are** with year>1960 **and** more than 50 occurrences per species.
But  **note that this still covers only 1281 uniqute species (out of 6280 that we started with) **

#### What percentage is that (out of all records with latitude/longitude AND year>1960)?

In [ ]:
100 * grouped_year_or_eventdate_1960[grouped_year_or_eventdate_1960.numobservations>50].numobservations.sum() / grouped_year_or_eventdate_1960.numobservations.sum()

Ok that means most (98%) species with latitude/longitude after year 1960, **have** more than 50 records.

### If we limit to records >1990, it becomes even more worrying.

In [ ]:
year_or_eventdate_1990 = result_with_lat_long[['species', 'year', 'eventdate', 'basisofrecord']][(result_with_lat_long.year>=1990) | (result_with_lat_long.eventdate>="1990")]

grouped_year_or_eventdate_1990 = pd.DataFrame()
grouped_year_or_eventdate_1990['numobservations'] = year_or_eventdate_1990.groupby(['species']).apply(lambda x: x['species'].count())
grouped_year_or_eventdate_1990.shape[0] # number of unique species

#### What percentage of observations is that?  (out of all records with latitude/longitude)?

In [ ]:
year_or_eventdate_1990.shape[0]/result_with_lat_long.shape[0] * 100

### From these, how many species have 50+ observations?

In [ ]:
grouped_year_or_eventdate_1990[grouped_year_or_eventdate_1990.numobservations>=50]

## Select a representative set of species for testing workflow
From meeting: ***The test set should include at least 1) the species for which lab test data on thermal tolerance are available and 2) species with very small and very large ranges, in order to find out whether the point sampling and modelling also works for these extremes.***

The non_extinct_fish dataframe is sorted in ascending order, according to the area size. Take the last binomial.

### Largest area

In [ ]:
non_extinct_fish.tail(1).binomial

See all the records(areas) for this binomial

In [ ]:
non_extinct_fish[non_extinct_fish.binomial=="Esox lucius"]

In [ ]:
esox_lucius = IUCNSpecies(name_species="Esox lucius")

In [ ]:
esox_lucius.set_data(non_extinct_fish[non_extinct_fish.binomial=="Esox lucius"])

In [ ]:
esox_lucius.save_shapefile("../data/fish/selection/esox_lucius")

In [ ]:
esox_lucius.plot_species_occurrence()

### One with the smallest area

In [ ]:
non_extinct_fish.head(1).binomial

See all the records(areas) for this binomial

In [ ]:
non_extinct_fish[non_extinct_fish.binomial=="Astatotilapia burtoni"]

In [ ]:
astatotilapia_burtoni = IUCNSpecies(name_species="Astatotilapia burtoni")

In [ ]:
astatotilapia_burtoni.set_data(non_extinct_fish[non_extinct_fish.binomial=="Astatotilapia burtoni"])

In [ ]:
astatotilapia_burtoni.save_shapefile("../data/fish/selection/astatotilapia_burtoni")

In [ ]:
astatotilapia_burtoni.plot_species_occurrence()

This below is just another way of saving the data, i.e., not in a shapefile (which produces multiple files in a separate folder), but a "pickled" data in a single file, compressed. It is usually a lot faster than saving as a shape file, when there is big amounts of data to be saved.

In [ ]:
astatotilapia_burtoni.save_data(dir_name="../data/fish/selection/", method="pickle")

In [ ]:
esox_lucius.save_data(dir_name="../data/fish/selection/", method="pickle")

Since the records are individual shapes, and there could be multiple per species (binomial), let's group them
by the species name, and apply a sum on the shape_area column. This will give us the total area (sum of all polygons) per-species. We want this in order to decide what our "average" species selection will be, for testing the workflow.

In [ ]:
species_area_sum = non_extinct_fish.groupby('binomial')['shape_area'].apply(np.sum)

In [ ]:
species_area_sum.sort(inplace=True)

In [ ]:
species_area_sum.head(10)

In [ ]:
species_area_sum.tail(10)

In [ ]:
species_area_sum.hist(bins=100)

The distribution of areas (in km^2?) is exponential. The median value is rather low:

In [ ]:
species_area_sum.median()

In [ ]:
np.average(species_area_sum)

In [ ]:
species_area_sum[(species_area_sum>45) & (species_area_sum<46)]

### This below is an interesting "average case" with 3 regions, two of which are rather small. It also has a region extending all the way into sea/ocean water

In [ ]:
non_extinct_fish[non_extinct_fish.binomial=="Acrocheilus alutaceus"]

In [ ]:
acrocheilus_alutaceus = IUCNSpecies(name_species="Acrocheilus alutaceus")

In [ ]:
acrocheilus_alutaceus.set_data(non_extinct_fish[non_extinct_fish.binomial=="Acrocheilus alutaceus"])

In [ ]:
acrocheilus_alutaceus.plot_species_occurrence()

In [ ]:
acrocheilus_alutaceus.save_data(dir_name="../data/fish/selection/", method="pickle")

In [ ]:
acrocheilus_alutaceus.save_shapefile("../data/fish/selection/acrocheilus_alutaceus")

The individual polygons are below. They are also "not valid" geometries, makes them interesting for case study.

In [ ]:
non_extinct_fish.loc[10322].geometry

In [ ]:
non_extinct_fish.loc[10320].geometry

In [ ]:
non_extinct_fish.loc[10321].geometry

In [ ]:
non_extinct_binomials = non_extinct_fish.binomial.unique().tolist()

Just persist on storage the list of non-extinct binomials we got from IUCN, so we don't have to filter out again.

In [ ]:
import pickle
pickle.dump(non_extinct_binomials, open("../data/fish/selection/non_extinct_binomials.pkl","wb"))

In [ ]:
non_extinct_binomials.index("Perca fluviatilis")

Let's read Aafke's Excel with lab test data on thermal tolerance for species

In [ ]:
thermal_tolerance_df = pd.read_excel("../data/fish/selection/Lethal_temperature_freshwater_fish_July2016.xlsx")
thermal_tolerance_df.head(10)

In [ ]:
thermal_tolerance_df.columns

In [ ]:
lab_data_list = thermal_tolerance_df['Species '].tolist()

In [ ]:
species_with_lat_lon_after_1960 = year_or_eventdate_1960['species'].unique().tolist()

For every species that is in the lab data list, select it if it is also in the IUCN list of non-extinct binomials, AND in the GBIF filtered-out list of species with latitude/longitude information and event year > 1960:

In [ ]:
filtered_list = []
for species_name in lab_data_list:
    if species_name.strip() in non_extinct_binomials and species_name.strip() in species_with_lat_lon_after_1960:
        filtered_list.append(species_name.strip()) # strip() is just to remove spaces in names

Now get the number of point records for this list of lab species (cross-checked with filtered GBIF records)

In [ ]:
year_or_eventdate_1960[year_or_eventdate_1960.species.isin(filtered_list)].groupby('species')['species'].apply(lambda x: x.count())

In [ ]:
tmp_series = year_or_eventdate_1960[year_or_eventdate_1960.species.isin(filtered_list)].groupby('species')['species'].apply(lambda x: x.count())

In [ ]:
tmp_series[tmp_series>100] # species with more than 50 records

So this is our potential list to choose a representative example from

In [ ]:
tmp_series[tmp_series>100].keys()

In [ ]:
len(tmp_series[tmp_series>100].keys())

In [ ]:
len(filtered_list) # so 20 records are out of the original list because of not enough point-records

In [ ]:
tmp_series[tmp_series>100].sort_values()

Get the GBIF/IUCN data on the first and the last species in the sorted list. That would be our representative choise for testing workflow.

In [ ]:
lepidomeda_mollispinis = IUCNSpecies(name_species="Lepidomeda mollispinis")
lepidomeda_mollispinis.set_data(non_extinct_fish[non_extinct_fish.binomial=="Lepidomeda mollispinis"])
lepidomeda_mollispinis.save_shapefile("../data/fish/selection/lepidomeda_mollispinis")
lepidomeda_mollispinis.plot_species_occurrence()

my_species = GBIFSpecies(name_species="Lepidomeda mollispinis")
# download point-records on these species from: https://drive.google.com/open?id=0B9cazFzBtPuCMGlLMnQzb3hsQm8
data = my_species.load_data("../data/fish/selection/Lepidomeda mollispinis2361895.pkl")
my_species.plot_species_occurrence()

In [ ]:
salmo_trutta = IUCNSpecies(name_species="Salmo trutta")
salmo_trutta.set_data(non_extinct_fish[non_extinct_fish.binomial=="Salmo trutta"])
salmo_trutta.save_shapefile("../data/fish/selection/salmo_trutta")
salmo_trutta.plot_species_occurrence()

my_species = GBIFSpecies(name_species="Salmo trutta")
# download point-records on these species from: https://drive.google.com/open?id=0B9cazFzBtPuCWEIySU5oU2ZfT2M 
data = my_species.load_data("../data/fish/selection/Salmo trutta8215487.pkl")
my_species.plot_species_occurrence() # warning: a lot of point-records, may take a while!!

Interesting, lots of point-records outside the expert range? in particular in the US.

###  Let's overlay the point-records with the range-maps. This will filter-out only the point records that belong to the rangemap area.

my_species contains the GBIF records, salmo_trutta contains the geometries.

In [ ]:
my_species.overlay(salmo_trutta)

In [ ]:
my_species.plot_species_occurrence()